<h1>Leader board</h1>
<table>
  <caption>My Games</caption>
  <thead>
    <tr>
      <th>Number</th>
      <th>Guesses</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @user.games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.guesses_count %></td>
      <td><%= game.won? ? 'won' : 'lost' %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        Start a new game
      </td>
    </tr>
  </tfoot>
</table>
