<table>
  <caption>My Games</caption>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Guesses</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        Start a new game
      </td>
    </tr>
  </tfoot>
</table>

<table>
  <caption>Leader board</caption>
  <thead>
    <tr>
      <th>User Id</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>ANG</th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>

  <tfoot>
    
  </tfoot>
</table>